<h3>Please fill in the information below to create a new piece of Construction Equipment!</h3>

<form action="/equipment" method="post">   
        Equipment Make: <input type="text" name="make">
        <br>
        <br>
        Equipment Model: <input type="text" name="model">
        <br>
        <br>
        Rent Type? (ISR/OSR): <input type="text" name="rent_type">
        <br> 
        <br> 
        Rental Rate ($) (ISR/OSR): <input type="text" name="rate">
        <br>
        <br>
         <input type="submit" value="Add a New Piece of Equipment">  
</form>



