<h2>Please fill in the information below to create a new piece of Construction Equipment!</h2>

<form action="/equipment" method="post">   
        Project Name: <input type="text" name="name">
        <br>
        <br>
        Project Location: <input type="text" name="location">
        <br>
        <br>
        Project Duration: <input type="text" name="duration">
        <br> 
        <br> 
         <input type="submit" value="Create New Project">  
</form>
