<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to the Project Equipment Tracker</h2>

    <div class="content">
      <p>The projects are listed below, please click on the project to see the currently assigned equipment. Please sign in or create an account to view the project.      
      <br><br>
      <ul><p>The current Projects are listed below. Please Click a project to see the currently assigned construction equipment</p>
      <% @projects.each do |data| %>
        <li><a href="/projects/<%= data.id %>"><%= data.name %>--<%=data.location %></a></li>   
        <% end %>
      </ul>
      <li><a href="/projects/new">Create New Project</a></li>
      <li><a href="/users/signout">Sign Out</a></li>
      </div>
  </div>
</div>


